.button {
    display: flex;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.button_list {
    list-style: none;
}

.button_item {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}